<ul>
<% artwork_category = ' '%>
<% artworks.sort_by {|a| a.category }.each do |artwork| %>
    <% if artwork.category != artwork_category %>
        <h2><%= artwork.category%></h2>
        <% artwork_category = artwork.category %>
    <% end %>
    <li><%= link_to artwork.friendly_html_description, artwork %></li>
<% end %>
</ul>