<p>
Tax exempt works of art may be on display in historic houses open to the public on a set number of days, or in museums and galleries and can be visited without the need to make an appointment. As some items were exempted some years ago access to these is often restricted to access by prior appointment.
</p>

<p>
Where access is restricted to access by appointment these items are generally of more limited interest or are similar to items already available in public collections. Such items are also available for loan to special exhibitions so that they can be seen, from time to time, alongside other fine works.
</p>

<p>
You will find details of the type of access available for each item listed on our website. (see works of art search)
</p>

<p>
A contact name and number is given for each item. The contact may be the owner or another person, e.g. solicitor, nominated by the owner. The contact will not necessarily reside in the county where the conditionally exempt item may be seen.
</p>

<p>
The entry for each individual work of art includes how and, if appropriate, when they are available to be seen. For security reasons, the precise location is not always shown. The contact will advise where the items can be seen and, if appropriate, arrange an appointment to see it. The link from individual entries will reveal other exempt items which, if they are in the same location, may be available for viewing at the time of your visit. You can ask to see individual items, a range of linked items or all of them.
</p>
