<h1>HMRC Artworks</h1>

<table>
  <tr>
  </tr>

<% @artworks.each do |artwork| %>
  <tr>
    <td><%= link_to 'Show', artwork %></td>
    <td><%= link_to 'Edit', edit_artwork_path(artwork) %></td>
    <td><%= link_to 'Destroy', artwork, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

