<h1>HMRC Artworks</h1>
<%= page_entries_info(@artworks) %>
<p class="byline"><%= will_paginate @artworks %></p>

  <ul>
  <% @artworks.each do |artwork| %>
      <li><%= link_to artwork.description, artwork %></li>
  <% end %>
  </ul>

