<div class="post">
  <h2 class="title"><a href="#">Search HMRC Artworks</a></h2>
  <p class="byline"><%= will_paginate @artworks %></p>
  <div class="entry">
    <%= page_entries_info(@artworks) %>

    <ul>
    <% @artworks.each do |artwork| %>
        <li><%= link_to artwork.description, artwork %></li>
    <% end %>
    </ul>

  </div>
  <div class="meta">
    <p class="links"><a href="#" class="comments">Comments (32)</a></p>
  </div>
</div>


